doctype 
html(lang="en")
  head
  title Intériorité
  meta(name="author", content="Mathias Gilson")
  meta(name="description", content="Massage Rolfing Spa Emilie Bolis")
  meta(name="keywords", content="Massage,Rolfing,Spa,Emilie,bolis")
  link(rel="stylesheet", href='/css/style.css' , media="screen")
  //link(rel="stylesheet", href='/css/jquery.mobile.min.css' , media="screen")
  
  

body
 .image-top
    img( data-stellar-ratio="0.6", src='/img/photos/home.jpg')
    h1(style='width:100%;text-align:center;position:absolute;font-size:40pt;bottom:50%;background:rgba(0, 0, 0, 0.6);line-height:60pt') Coming soon
        