.map(id='infos')
    iframe(width="100%", height="100%", frameborder="0", style="border:0", src="https://www.google.com/maps/embed/v1/place?q=Chemin%20des%20Perreuses%206B%2C%20Colombier%2C%20Suisse&key=AIzaSyCWbKzvIwwThActNsscoDI9R5GfNm_fnv4")
section
    h1 Infos
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    
    .infos
        li
            img(src='/img/icons/phone.png')
            p 079 426 65 38
        li
            img(src='/img/icons/time.png')
            p Lun 8h-12 14h-18
        li
            img(src='/img/icons/mail.png')
            p contact@intériorité.ch
        li
            img(src='/img/icons/location.png')
            p Rue des perreuses 6b 2013 Colombier