.map
    iframe(width="100%", height="100%", frameborder="0", style="border:0", src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2722.6745501743667!2d6.860394615542886!3d46.96808403985981!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478de0ff88559a97%3A0x19cbe2e32e136ba4!2sChemin+des+Battieux+1%2C+2013+Milvignes!5e0!3m2!1sfr!2sch!4v1508239919141")
div
    //- h1 Emilie Germanier
    //- p Enseignante, l’être humain a toujours fait partie de mon chemin professionnel. Devenir maman m’a amenée à mieux me connecter à moi, à mon esprit, à mon corps qui me parle et m’accompagne à chaque instant. Aujourd’hui c’est cet accompagnement que j’ai envie d’offrir. Percevoir la vie et les vibrations des corps au travers de mes mains est devenu une passion.

    .info(id='infos')
        .name
            .text Magaly Stauffer
            a(href='mailto:magaly.stauffer@hotmail.com') magaly.stauffer@hotmail.com

        .infos
            li
                
                img(src='img/icons/phone.png')
                p 
                    a(href='tel:0765153424').tel 076 515 34 24
            li
                img(src='img/icons/time.png')
                p Sur rendez-vous uniquement
            li
                img(src='img/icons/location.png')
                p Battieux 1 2013 colombier