.nav

  a(href= '/' data-ajax="false")
    .title INDIVIDU’elle
    .subTitle homéopathie et yoga
    
  .menu
   li
     a(href= 'homeopathie.html' data-ajax="false") Homéopathie 
   li
     a(href= 'metakinebiologie.html' data-ajax="false") Métakinébiologie  
   li
     a(href= 'yoga.html' data-ajax="false") Yoga
   li
     a(href= 'index.html#infos' data-ajax="false") Infos
     
     
  .copyright!= 'INDIVIDU’elle © 2017'