.image(id='rolfing')
    img( data-stellar-ratio="0.6", src='/img/photos/rolfing.jpg')
section
    h1 Rolfing
    p La méthode vise à optimiser la posture. Les douleurs sont ainsi réduites, la flexibilité améliorée, l’énergie accrue et l’aisance corporelle favorisée. Notre inconscient investit autant le corps que le psychisme. Le rolfing révèle un ressenti corporel fondateur.
    
    .items
        li.formation En Formation
           |Début août 2016
           
    .assurance Admis par l’assurance complémentaire