.image-top
    img( data-stellar-ratio="0.6", src='/img/photos/home.jpg')
section.home
    h1 Le salon
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.