.image-top
    div(class="parallax-window header" data-parallax="scroll" data-image-src="img/photos/home.jpg" data-natural-height='476' data-natural-width='695' data-over-scroll-fix='true' )
.parallax-text(style="margin-bottom: 20px;")
    .parallax-citation "La maladie est l'effort que fait la nature pour guérir l'homme."
    .parallax-author C.G. Jung
section
    h1 INDIVIDU’elle
    p Sage femme diplômée en 1989, puis humanitaire pendant plusieurs année en Asie et en Afrique, j’ai finalement posé mes valises pour devenir maman.
    p L’être humain m’a toujours fasciné et c’est dans l’homéopathie que j’ai trouvé cette vision qui individualise l’être. Pour ajouter une touche de compréhension a ce qui anime notre être j'ai trouvé dans la métakinébiologie un outil simple et efficace.